<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleOpenSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo-container">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="assets/images/logo.png" alt="logo">
    </div>
  </div>
</mat-toolbar>
