<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
    <app-nav-tabs></app-nav-tabs>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
