<div class="nav-tabs-container">
  <nav mat-tab-nav-bar fxLayout="column" fxLayoutAlign="center center">
    <a mat-tab-link
       routerLink="/"
       routerLinkActive #home="routerLinkActive"
       [active]="home.isActive"> Home </a>
    <a mat-tab-link
       routerLink="/accomodation"
       routerLinkActive #accomodation="routerLinkActive"
       [active]="accomodation.isActive">
      Accomodation
    </a>
    <a mat-tab-link routerLink="/food-and-beverage"
       routerLinkActive #foodAndBeverage="routerLinkActive"
       [active]="foodAndBeverage.isActive">
      Food &amp; Beverage
    </a>
    <a mat-tab-link routerLink="/lifestyle"
       routerLinkActive #lifestyle="routerLinkActive"
       [active]="lifestyle.isActive">
      Lifestyle
    </a>
    <a mat-tab-link routerLink="/celebrations"
       routerLinkActive #celebrations="routerLinkActive"
       [active]="celebrations.isActive">
      Celebrations
    </a>
    <a mat-tab-link routerLink="/offers"
       routerLinkActive #offers="routerLinkActive"
       [active]="offers.isActive">
      Offers
    </a>
  </nav>
</div>
