@import "~@angular/material/theming";

.toolbar-flex {
  flex: 1 0.5 auto;
}

@mixin nav-tabs-component-theme($hotel-theme) {
  $primary: map-get($hotel-theme, primary);
  $accent: map-get($hotel-theme, accent);

  .nav-tabs-container {
    background-color: mat-color($primary, lighter);
  }
};
