@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Custom colors - http://mcg.mbitson.com/
$custom-accent: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$custom-primary: (
  50 : #fcf7f1,
  100 : #f9eadd,
  200 : #f5dcc6,
  300 : #f0ceaf,
  400 : #edc49e,
  500 : #eab98d,
  600 : #e7b285,
  700 : #e4aa7a,
  800 : #e1a270,
  900 : #db935d,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffecde,
  A700 : #ffddc4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hotel-primary: mat-palette($custom-primary, 600, 400);
$hotel-accent:  mat-palette($custom-accent, 500, A400, 600);

// The warn palette is optional (defaults to red).
$hotel-warn:    mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$hotel-theme: mat-light-theme((
  color: (
    primary: $hotel-primary,
    accent: $hotel-accent,
    warn: $hotel-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hotel-theme);

// NavTabs Component scss file
@import "app/navigation/nav-tabs/nav-tabs.component";
@include nav-tabs-component-theme($hotel-theme);

// Typography
$custom-typography: mat-typography-config(
  $font-family:   'Rubik, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(97.54px, 98px, 400),
  $title:         mat-typography-level(61px, 62px, 500),
  $subheading-2:  mat-typography-level(48.77px, 50px, 400),
  $subheading-1:  mat-typography-level(34.54px, 16px, 400),
  $body-2:        mat-typography-level(14.22px, 16px, 500),
  $body-1:        mat-typography-level(16.26px, 18px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14.22px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Custom styles
.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background-color: mat-color($hotel-primary, ligther);
  color: mat-color($hotel-primary);
}
