<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book now
      </button>
    </div>
  </div>
  <div class="header-container" fxLayout="column" fxLayoutAlign="center center">
      <!--h3 class="mat-subheading-2"-->
      <h2 class="mat-display-1">
        Comfort &amp; Excellent service
      </h2>
      <!--h1 class="mat-headline"-->
      <h1 class="mat-display-4">
        Enjoy the Nature
      </h1>
  </div>
</div>

<section class="home-section">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h2 class="mat-subheading-2">Lorem ipsum dolor sit amet</h2>
    </div>
    <div>
      <h3 class="mat-subheading-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </h3>
    </div>
    <div>
      <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda doloremque excepturi fuga ipsam numquam saepe sapiente velit veniam voluptatum? Consectetur enim fugiat laborum libero minima nulla odio possimus ratione vitae.
      </p>
    </div>
  </div>

  <div class="rooms-home-section">
    <mat-card class="suites" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <h2>Rooms</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="suites" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <h2>Suites</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
