.hero-container {
  background: url("/assets/images/home.jpg") center center no-repeat;
  background-size: cover;
  height: calc(100vh - 145);
}

.book-now-container {
  padding: 35px 115px;
}

.book-now-button {
  width: 170px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  border-radius: 4px;
}

.header-container {
  padding: 60px 20px;
  text-align: center;
  /*max-width: 600px;*/
}

/*.header-container .mat-display-4 {
  color: white;
}*/

.header-container .mat-display-1 {
  margin: 10px;
}

@media all and (min-width: 768px) {
  .hero-container {
    height: 100vh;
  }
}

@media all and (max-width: 599px) {
  .header-container .mat-display-1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .header-container .mat-display-4 {
    font-size: 1.1rem;
    line-height: 1.1;
  }
}

.home-section {
  position: relative;
  padding: 100px 20px;
  text-align: center;
}
.home-section .mat-subheading-3 {
  text-transform: uppercase;
}

.rooms-home-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
}

.rooms-home-section mat-card-header h2 {
  font-size: 34.54px;
  letter-spacing: 0.25px;
  line-height: 43px;
  color: rgba(0,0,0,0.87);
  text-transform: uppercase;
  font-weight: 400;
}

.rooms-home-section mat-card-header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 34px;
  height: 53px;
  background: linear-gradient(
      125deg,#fff8e1 0,
      rgba(255, 248, 225,.6)100%);
}

.rooms-home-section mat-card-actions {
  position: absolute;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.rooms-home-section mat-card {
  height: 587px;
  position: relative;
  text-align: center;
  margin: 1%;
}

.suites {
  background: url("/assets/images/rooms.jpg")center center no-repeat;
  background-size: cover;
  height: calc(100vh - 500px);
}
